h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, sans-serif;
}

header[role="banner"]{
    background-image: url("../assets/headerpic.png");
    background-size: cover;
    background-position: center 50%;
    min-height: 100vh;
    color:white;
}

header h1{
    background-color:rgba(0, 0, 0, 0.2);
    padding: 30px;
}

[data-sticky-graphic] {
	top: 35%;
}

.closed {
    background-color: rgba(233, 146, 135, 0.7);
    
}

.merged {
    background-color: rgba(144, 186, 217, 0.7);
}

.shrunk {
    background-color: rgba(190, 142, 233, 0.7);
}

.welcome {
    background-color: rgba(236, 188, 143, 0.7);
}